<body>
    <!-- <p *ngIf="yesnoid">
        home works!
      </p>
      {{page}}
      <button (click)="todo()">{{yesnoid ? "yes" : "no"}}</button>
      
      
      <h1>aditya</h1>
       -->
      <div style="padding:10px"><h2>Welcome to the CONNECT</h2></div> 
      <div class="box">
          <p>
              Here you can explore more by clicking <span><a class="glyphicon glyphicon-list-alt
                " [routerLink]="['/post']"></a></span> button at navigation bar.
              
            </p>
            <div>
                <p>In the post section, you can leave your thoughts by having its title and content under the section of <span><b>Create Post</b></span>.</p>
                <p>On the right side where you can explore more posts, which are created by other any you as well.</p>
                <p>As a genuine user you can like <span class="glyphicon glyphicon-thumbs-up"></span>, by clicking <span class="glyphicon glyphicon-tasks"></span> you can see all comments respective posts and you can edit the posts through <span class="glyphicon glyphicon-pencil"></span>.</p>
             </div>
      </div>
       
         
       
</body>